@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.container .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background: white;
    text-align: center;
    line-height: 60px;
    font-size: 1.1em;
    color: #0077ff;
    z-index: 100;
}

.container .nav.active {
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.scrollTop {
    position: fixed;
    top: 90%;
    right: 40px;
    width: 60px;
    height: 60px;
    background: linear-gradient(to top, #0014c9, #0077ff);
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5em;
    color: white;
    opacity: 0;
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.scrollTop.active {
   opacity: 1;
}

.container .main {
    margin-top: 5rem;
    padding: 0 20px;
}

.container .main .list {
    padding-left: 20px;
}

.container .main .Color {
    color: #0077ff;
}

footer {
    margin-top: 30px;
    width: 100%;
    height: 70px;
    background: linear-gradient(to bottom, #0077ff, #0014c9);
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}